/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Customer review*/

#field_35_32 .gfield_label {
    display: none;
}

#gform_35 {
    /* display: flex; */
    /* flex-direction: column-reverse; */
    text-align: center;
    box-shadow: 0px 0px 5px 0px #ccc;
}

#gform_35 .gform_body {
    padding: 20px 40px;
}

#gform_35 .gfield_select {
    margin: 0 auto;
}

.gform_wrapper #gform_35 .gfield_radio li label:after,
.gform_wrapper #gform_35 .gfield_radio li label:before {
    display: none;
}

.gform_wrapper #gform_35 .gfield_radio li label {
    padding: 15px;
    height: auto;
    font-size: 14px !important;
    font-family: 'robotothin', sans-serif !important;
	line-height: 1.4 !important;
}

.gform_wrapper #gform_35 .gf_progressbar_wrapper {
    margin: 0;
    padding: 0;
}

.gform_wrapper #gform_35 #field_35_2 .gfield_label {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 20px 0;
    font-weight: 300;
}

.bg-video-home-row .fl-bg-video video {
    top: -100px!important;
}


/* .fixed-header .logo-menu-wrp-row{
    position: fixed;
    width: 100%;
    top: 0px;
    transition: all 0.5s;
    background: #000;
}
.fixed-header .searchHeader{
	position: fixed;
	top: 122px;
} */


/* .page-id-349380  .fl-row-bg-gradient  .fl-row-content-wrap, */

body .fl-row-bg-gradient .fl-row-content-wrap {
    background-color: rgba(0, 0, 0, 0.50);
}

.gform_wrapper #gform_35 .gf_progressbar {
    border-radius: 0;
    width: 100%;
    padding: 0;
}

.gform_wrapper #gform_35 .gf_progressbar_percentage {
    border-radius: 0;
    background: none;
    background-color: #ffa868 !important;
}

.gform_wrapper #gform_35 .gf_progressbar_percentage span {
    line-height: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.gform_wrapper #gform_35 .gf_progressbar:after {
    border-radius: 0;
    padding: 3px 5px;
}

.gform_wrapper #gform_35 [type="radio"]:checked+label {
    background: #252062 !important;
}

.gform_wrapper #gform_35 .gform_page_footer .button {
    padding: 12px 20px;
    width: 100px;
    color: #FFF;
    text-align: center;
    background: #252062;
    border: 0;
    border-radius: 3px;
}

.gform_wrapper #gform_35 #input_35_28 {
    display: flex;
}

.gform_wrapper #gform_35 #input_35_28 img {
    max-width: 100%;
}

.gform_wrapper #gform_35 #input_35_28 p {
    text-align: center;
}

.gform_wrapper #gform_35 .gfield_description {
    margin: 0 auto !important;
    display: block !important;
}

.gform_wrapper #gform_35 .formHeader,
.gform_wrapper #gform_35 .formHeader p {
    text-align: center !important;
}

.gfp_big_button .gfield_radio li input[type=radio] {
    display: none
}

.gfp_big_button .gfield_radio label {
    color: #FFF;
    font-family: Montserrat!important;
    font-size: 10.8px!important;
    letter-spacing: .46px!important;
    line-height: 13px!important;
    text-align: center!important;
    min-width: 150px;
    width: 100%;
    padding: 10px 30px;
    float: none;
    background: #252062;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-weight: 600;
    margin: 0;
    display: block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    cursor: pointer;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    box-sizing: border-box
}

.gfp_big_button .gfield_radio label:hover {
    background: #0C7062
}

.form-one .gform_page_fields>ul>li.gfp_big_button>label,
.form-two .gform_page_fields>ul>li.gfp_big_button>label,
.form-four .gform_page_fields>ul>li.gfp_big_button>label {
    color: #000;
    font-family: Gotham;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.4px;
    line-height: 30px;
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin: 0 0 50px
}

.form-four .gfp_big_button .gfield_radio label {
    background: #fff!important;
    color: #000 !important;
}

.form-four .gfp_big_button .gfield_radio label:hover {
    background: #fff!important;
}

.form-one .gform_page_fields>ul>li.gfp_big_button,
.form-two .gform_page_fields>ul>li.gfp_big_button,
.form-four .gform_page_fields>ul>li.gfp_big_button {
    text-align: center
}

.form-one .gform_wrapper ul.gform_fields li.gfield,
.form-two .gform_wrapper ul.gform_fields li.gfield,
.form-four .gform_wrapper ul.gform_fields li.gfield {
    text-align: center
}

.gform_wrapper .gf_progressbar_percentage span {
    position: absolute;
    left: 50%;
    line-height: 3.3!important;
    color: #000;
    font-family: Montserrat;
    font-size: 12.4px;
    letter-spacing: .48px;
    text-align: center
}

.gform_wrapper .gf_progressbar_percentage span:after {
    content: " COMPLETE"
}

.gform_wrapper .gf_progressbar_percentage {
    border-radius: 0!important;
    background: #7EA0B7!important;
    height: 40px!important;
    background-color: #7EA0B7!important
}

.form-one .gform_page_footer,
.form-two .gform_page_footer,
.form-four .gform_page_footer {
    visibility: hidden;
    height: 0
}

ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
    display: none
}

ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label {
    padding: 10px
}

.form-four ul.gfield_radio li:nth-child(1),
.form-four ul.gfield_radio li:nth-child(2) {
    border-right: 1px solid #CBCBCB
}

.gf_progressbar::after,
.gform_wrapper .gf_progressbar {
    border-radius: 0!important;
    height: 40px!important
}

.gf_progressbar_wrapper {
    margin: 30px 0 0 !important
}

.gf_progressbar_percentage {
    border-radius: 1px 4px 4px 1px
}

.gf_progressbar {
    padding: 0;
    margin: 0
}

.gf_progressbar_percentage,
.gform_wrapper .gf_progressbar:after {
    height: 40px;
    border-radius: 0;
    margin-top: -40px!important
}

.gf_progressbar_percentage span {
    line-height: 40px
}

.gf_progressbar:after {
    margin-top: -40px
}

.gfp_big_button .gfield_radio label:hover {
    background: #252062;
}

.gf_progressbar_title {
    display: none;
}

.gfmc-row-1-col-1-of-4 {
    width: 40%!important;
    padding: 0 30px 0 20px
}

.gfmc-row-1-col-2-of-4 {
    width: 60%!important;
    padding: 0 0 0 20px
}

.gfmc-row-1-col-3-of-4,
.gfmc-row-1-col-4-of-4 {
    width: 50%!important
}

.form-three div.ginput_container input[type="text"] {
    width: 100%!important
}

.gform_button {
    width: 200px;
    padding: 10px 20px!important;
    background-color: #0C7062!important;
    border-color: #0C7062!important
}

.gform_button:hover {
    color: #fff!important
}

.gform_wrapper .gform_page_footer {
    text-align: right!important
}

.gform_previous_button {
    visibility: hidden!important
}

.form-two .gfield_description,
.form-four .gfield_description {
    color: #000!important;
    font-family: Gotham!important;
    font-weight: 300!important;
    line-height: 23px!important;
    font-size: 15px!important;
    width: 500px!important;
    text-align: center!important;
    margin: 0 auto!important;
    margin-top: -30px!important;
    display: inline-block!important;
    margin-bottom: 20px!important
}

.form-two ul.gfield_radio li label {
    padding: 10px 20px!important;
    width: 360px!important
}

.form-four ul.gfield_radio li label {
    background: #fff
}

.form-four .gfp_big_button .gfield_radio label:hover {
    background: #fff!important
}

.form-two .gform_page_fields>ul>li.gfp_big_button>label,
.form-four .gform_page_fields>ul>li.gfp_big_button>label {
    margin: 0 0 35px!important
}

.gform_wrapper .gf_progressbar {
    padding: 0!important
}

.custom-radio .gfield_radio {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    width: 33em
}

.custom-radio .gfield_radio li {
    break-inside: avoid;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 10px 0
}

.custom-radio .gfield_radio li label {
    margin: 0!important;
    border: 2px solid #fff;
    max-width: 100%!important;
    cursor: none
}

.custom-radio .gfield_radio li label .checkbox-img {
    width: 100%;
    clear: both;
    text-align: center;
    margin: 0 auto
}

.custom-radio .gfield_radio li label p {
    margin: 0 auto;
    color: #000!important
}

.custom-radio .gfield_radio li label p.heading {
    position: relative;
    font-size: 16px;
    color: #77170a;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    width: inherit;
    margin-top: 10px
}

.custom-radio .gfield_radio li label p.link>a {
    background: #fff;
    border: 2px solid #000;
    padding: 10px 33px;
    margin: 5px 0 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #000
}

.custom-radio .gfield_radio input[type="radio"] {
    opacity: 0;
    outline: none;
    z-index: 100;
    width: 27px;
    height: 27px;
    top: 0;
    left: 0;
    position: absolute;
    appearance: none;
    cursor: none
}

.gform_wrapper ul li.field_description_below div.ginput_container_radio {
    margin-right: 0!important
}

.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label,
.gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label {
    margin: 9px 0 -9px 1px !important;
    font-weight: 700!important;
    font-size: 15px!important
}

body .gform_wrapper ul li.gfield {
    margin-top: 7px!important;
    height: auto;
    overflow: hidden;
}

.gform_confirmation_message {
    text-align: center;
    font-weight: 700!important
}

ul.gfield_checkbox li label#label_44_31_1 {
    padding: 0px 0 0 30px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 8px;
}

body .gform_wrapper ul li#field_35_7 {
    text-align: center !important;
}

.noUi-horizontal .noUi-origin {
    height: 10px !important;
    background: #252062;
}

.noUi-handle::after {
    left: 10px!important
}

.noUi-handle::after,
.noUi-handle::before {
    height: 10px!important;
    width: 10px!important;
    background: #D45C29!important;
    left: 5px!important;
    top: 5px!important;
    border-radius: 46px!important
}

.noUi-horizontal {
    height: 12px!important
}

.noUi-horizontal .noUi-handle {
    width: 22px!important;
    height: 22px!important;
    top: -6px!important
}

.noUi-handle {
    border-radius: 99px!important;
    border: 1px solid #9C9C9C!important
}

.noUi-target {
    background: #DEDEDE!important;
    border-radius: 10px!important
}

.noUi-connect {
    background: #0C7062!important
}

.slider-display {
    margin-top: 10px !important;
    margin-bottom: 35px;
}

.slider-display span[class$='val-relation'] {
    margin: .3em!important;
    font-size: 10px!important
}

.slider>label {
    margin-top: -30px
}

.gfield.slider>label {
    margin: 0;
    float: none !important;
}

.gfmc-row-1-col-1-of-1 {
    width: 40%!important;
    padding: 0 30px 0 20px
}

.gfmc-row-2-col-1-of-1 {
    width: 60%!important;
    padding: 0 0 0 20px
}

.gfmc-row-1-col-3-of-4,
.gfmc-row-1-col-4-of-4 {
    width: 50%!important
}

.processBar {
    margin-top: 35px;
    width: 100%;
    padding: 5px;
    background: #5a5a5a;
    color: #fff;
}

.processBar h6 {
    color: #fff;
}

li.gchoice_35_28_0,
li#field_35_7 .gfield_label,
li#field_35_28 .gfield_label {
    text-align: center !important;
}

@media all and (max-width:520px) {
    .ginput_container_name {
        text-align: left;
    }
    .gchoice_35_28_0 {
        border: none !important;
    }
    .gform_wrapper #gform_35 #input_35_28 {
        display: inline !important;
    }
    .gform_wrapper #gform_35 .gfield_description {
        width: 100% !important;
    }
}


/* Customer Review END */

.toggle-image-thumbnails a.arrow.next {
    right: -20px !important;
}

a.arrow.prev.slick-arrow {
    left: -20px;
}

a.link.plp-view-product {
    display: inline-block;
    border: 0!important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    border: 0!important;
    line-height: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
    background: #242062;
    margin: 0!important;
    color: #fff;
    width: 100%
}

.product-grid a.link:hover {
    background: #767676;
    color: #fff;
    text-decoration: none;
}

footer .broken_link,
footer a.broken_link {
    text-decoration: none!important;
}

.residential-header>.fl-row-content-wrap {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.searchHeader>.fl-row-content-wrap {
    background-color: #242062;
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
}

.searchHeader>.fl-row-content-wrap {
    margin-top: -2px;
}

.searchHeader>.fl-row-content-wrap {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sticky-header>.fl-row-content-wrap {
    background-color: #fff;
}

.off-canvas.menu-open .uabb-menu-close-btn,
.off-canvas.menu-open ul li a span,
.uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
    color: #fff !important;
}

.header-pho p {
    display: none;
}

.res-header-logo {
    width: 25%
}

.res-header-top-bar {
    width: 49.98%
}

.res-header-contant-btn {
    width: 17.02%
}

.res-header-logo .fl-module-uabb-retina-image .uabb-retina-img-caption,
.res-header-logo .fl-module-uabb-retina-image .uabb-retina-img-wrap {
    text-align: left;
}

.res-header-logo .fl-module-uabb-retina-image .uabb-retina-img-content .uabb-retina-img {
    border-radius: 0;
}

.res-header-logo .fl-module-uabb-retina-image .uabb-retina-img-caption {
    margin-top: 0;
    margin-bottom: 15px;
}

.res-header-logo .fl-module-uabb-retina-image .uabb-retina-img-content .uabb-retina-img {
    opacity: 1;
}

.res-header-logo .fl-module-uabb-retina-image .uabb-retina-img-content .uabb-retina-img:hover {
    opacity: 1;
}

@media (max-width:768px) {
    div.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0!important;
        margin-bottom: 20px!important;
    }
    .home-page-header .fl-col-group {
        display: flex;
        align-items: center;
    }
}

.res-header-logo .fl-module-uabb-retina-image .uabb-retina-img-content .uabb-retina-img {
    width: 350px;
}

.res-header-logo .fl-module-uabb-retina-image>.fl-module-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width:768px) {
    .res-header-logo .fl-module-uabb-retina-image>.fl-module-content {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu a {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.fl-builder-content .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu>li>.fl-has-submenu-container>a,
.fl-builder-content .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu>li>a,
.fl-builder-content .res-header-top-bar .fl-node-content:first-child .fl-module-menu .sub-menu>li>.fl-has-submenu-container>a,
.fl-builder-content .res-header-top-bar .fl-node-content:first-child .fl-module-menu .sub-menu>li>a {
    color: #5e5e5e;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .fl-toggle-none .fl-menu-toggle:before {
    border-color: #5e5e5e;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu .fl-has-submenu .sub-menu {
    display: none;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .sub-menu {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a {
    padding-right: 21px;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle {
    width: 19px;
    height: 19px;
    margin: -9.5px 0 0;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle,
.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle,
.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu-vertical.fl-toggle-none .fl-menu-toggle {
    width: 21px;
    height: 19px;
    margin: -9.5px 0 0;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu li {
    border-top: 1px solid transparent;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu li:first-child {
    border-top: none;
}

@media (max-width:768px) {
    .fl-menu-horizontal {
        text-align: left;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .sub-menu {
        background-color: transparent;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .mega-menu-disabled.fl-active .hide-heading>.sub-menu,
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .mega-menu.fl-active .hide-heading>.sub-menu {
        display: block!important;
    }
}

@media (min-width:769px) {
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .menu>li {
        display: inline-block;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu li {
        border-left: 1px solid transparent;
        border-top: none;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu li:first-child {
        border: none;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu li li {
        border-top: 1px solid transparent;
        border-left: none;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu .fl-has-submenu .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        text-align: left;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-has-submenu .fl-has-submenu .sub-menu {
        top: 0;
        left: 100%
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .fl-has-submenu.focus>.sub-menu,
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .fl-has-submenu:hover>.sub-menu {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu .fl-has-submenu.fl-menu-submenu-right .sub-menu {
        left: inherit;
        right: 0;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .menu .fl-has-submenu .fl-has-submenu.fl-menu-submenu-right .sub-menu {
        top: 0;
        left: inherit;
        right: 100%
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .fl-has-submenu.fl-active>.fl-has-submenu-container .fl-menu-toggle {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .fl-menu-toggle {
        display: none;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu ul.sub-menu {
        padding-top: 0;
        padding-right: 300px;
        padding-bottom: 0;
        padding-left: 300px;
    }
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu ul.sub-menu a {
        padding-top: 0;
    }
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu ul.fl-menu-horizontal li.mega-menu>ul.sub-menu>li>.fl-has-submenu-container a:hover {
    color: #5e5e5e;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .menu,
.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .menu>li {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu {
    text-align: center;
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .menu {
    float: none;
    display: inline-block;
    vertical-align: top;
}

@media(max-width:992px) {
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .menu {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
}

@media(max-width:768px) {
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu .fl-menu .menu {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
}

.res-header-top-bar .fl-node-content:first-child .fl-module-menu>.fl-module-content {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
}

@media (max-width:768px) {
    .res-header-top-bar .fl-node-content:first-child .fl-module-menu>.fl-module-content {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media(max-width:768px) {
    .fl-node-5e8ef01ce9055 .fl-rich-text,
    .fl-node-5e8ef01ce9055 .fl-rich-text * {
        text-align: center;
    }
}

.advSearch .fl-module-content .fl-icon i,
.advSearch .fl-module-content .fl-icon i:before {
    color: #242062;
}

.advSearch .fl-module-content .fl-icon a:hover i,
.advSearch .fl-module-content .fl-icon a:hover i:before,
.advSearch .fl-module-content .fl-icon i:hover,
.advSearch .fl-module-content .fl-icon i:hover:before {
    color: #323232;
}

.advSearch .fl-module-content .fl-icon i,
.advSearch .fl-module-content .fl-icon i:before {
    font-size: 30px;
}

.advSearch .fl-module-content .fl-icon-text {
    height: 52.5px;
}

.advSearch.fl-module-icon {
    text-align: left;
}

.advSearch .fl-icon-text,
.advSearch .fl-icon-text-link {
    font-weight: 600;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu {
    text-align: right;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>.uabb-has-submenu-container a span.uabb-menu-toggle,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal>li>a span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
}

ul#menu-common-header-menu {
    padding-left: 0!important;
}

#menu-flooring-menu {
    margin-bottom: 0!important;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

.sticky-header .fl-module-uabb-advanced-menu .menu .uabb-has-submenu .sub-menu {
    display: none;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu li:first-child {
    border-top: none;
}

@media only screen and (min-width:769px) {
    .sticky-header .fl-module-uabb-advanced-menu .menu>li {
        display: inline-block;
    }
    .sticky-header .fl-module-uabb-advanced-menu .menu li {
        border-left: none;
        border-top: none;
    }
    .sticky-header .fl-module-uabb-advanced-menu .menu li li {
        border-top: none;
        border-left: none;
    }
    .sticky-header .fl-module-uabb-advanced-menu .menu .uabb-has-submenu .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 16;
        visibility: hidden;
        opacity: 0;
        text-align: left;
        transition: all .3s ease-in;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-has-submenu .uabb-has-submenu .sub-menu {
        top: 0;
        left: 100%
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu,
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu {
        display: block;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-has-submenu:focus>.sub-menu,
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-has-submenu:hover>.sub-menu {
        visibility: visible;
        opacity: 1;
    }
    .sticky-header .fl-module-uabb-advanced-menu .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 100%;
        left: inherit;
        right: 0;
    }
    .sticky-header .fl-module-uabb-advanced-menu .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {
        top: 0;
        left: inherit;
        right: 100%
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-menu-toggle {
        display: none;
    }
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu.uabb-menu-default .menu>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sticky-header .fl-module-uabb-advanced-menu .fl-module-content .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a span.menu-item-text,
.sticky-header .fl-module-uabb-advanced-menu .fl-module-content .uabb-creative-menu .menu>li>a span.menu-item-text {
    width: 100%
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #edecec;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {
    min-width: 220px;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li.uabb-creative-menu>a>span,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a>span {
    color: #333;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e3e2e3;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li:last-child {
    border-bottom: none;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li li:first-child,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu ul.sub-menu>li.uabb-creative-menu.uabb-has-submenu li:first-child {
    border-top: none;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu>li>.sub-menu>li:first-child,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li.uabb-active>.sub-menu>li:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e3e2e3;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu {
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .3);
    -o-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .3);
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li:last-child>.uabb-has-submenu-container>a,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li:last-child>a {
    border: 0;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:focus,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li>.uabb-has-submenu-container>a:hover,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li>a:focus,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .sub-menu>li>a:hover {
    background-color: #f5f5f5;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {
    color: #333;
}

@media only screen and (max-width:768px) {
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-menu-overlay .menu {
        margin-top: 40px;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu {
        text-align: center;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle,
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li>a span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width:992px) {
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle,
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li>a span.uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu .uabb-menu-toggle {
        padding-left: 10px;
        float: right;
    }
}

@media only screen and (max-width:768px) {
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu {
        text-align: center;
    }
    .txt-center .fl-button-wrap {
        text-align: center !important;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li>.uabb-has-submenu-container a span.menu-item-text>span.uabb-menu-toggle,
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu>li>a span.uabb-menu-toggle {
        float: right;
    }
    .sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .menu .uabb-menu-toggle {
        float: right;
    }
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-creative-menu-horizontal .sub-menu,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-creative-menu-vertical .sub-menu {
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-creative-menu-accordion.menu>.uabb-has-submenu>.sub-menu,
.sticky-header .fl-module-uabb-advanced-menu .uabb-creative-menu .uabb-creative-menu-expanded.menu>.uabb-has-submenu>.sub-menu {
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #000;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.sticky-header .fl-module-uabb-advanced-menu>.fl-module-content {
    margin-top: 0;
    margin-bottom: 0;
}

.arrow.slick-next.slick-arrow {
    right: -35px!important;
}

.arrow.slick-prev.slick-arrow {
    left: -35px!important;
}

.product-variations .slick-slider .slick-arrow {
    top: 13%!important;
}

.color-boxs-inners {
    text-align: center;
}

a.fl-button.plp_box_btn {
    margin-top: 20px;
}

.sticky-header {
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all .3s;
}

.sticky-header .uabb-creative-menu .menu>li>.uabb-has-submenu-container>a span.menu-item-text,
.sticky-header .uabb-creative-menu-horizontal>li {
    font-weight: 300!important;
}

.sticky-header .uabb-creative-menu-horizontal>li.current-menu-item,
div.res-head-main-menu .uabb-creative-menu .menu>li>a {
    font-weight: 500!important;
}

.fl-page-header-fixed,
.fl-page-nav-right.fl-page-header-fixed {
    display: none!important;
}

.copy-right-bar .fl-col-group {
    display: flex;
    align-items: center;
}

.copy-right-bar .fl-col-group .fl-rich-text p {
    margin: 0;
}

.mat-carousal .uabb-image-carousel-item img {
    max-height: 400px!important;
}

.home-phone .header-ph .storename .phone a span:before,
.header-pho .storename .phone a span:before {
    display: block;
    text-align: center;
    width: 22px;
    height: 22px;
    margin: 0 auto -15px;
}

.header-pho .storename .phone a span:before {
    margin-left: 15px !important;
}

.home-phone .header-ph .storename~br {
    display: none;
}

.home-phone .header-ph .storename~span {
    color: #242062;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

ul#menu-home-top-bar-nav li a {
    letter-spacing: 1px;
}

.home-phone .header-ph .storename~span.street_address {
    display: block;
}

.header-ph .storename,
ul#menu-common-header-menu {
    margin-bottom: 0!important;
}

.header-ph .storename .phone a span {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
}

.header-add>span {
    font-weight: 700!important;
    color: #252062!important;
}

.home .header-ph .storename .phone a span,
.header-ph.header-pho .storename .phone a span {
    font-size: 0;
}

.header-ph .storename .phone a span:before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    line-height: 1;
    margin-right: 5px;
    margin-top: -2px;
    font-size: 11px;
    vertical-align: middle;
    color: #fff;
    background: #252062;
    padding: 5px;
    border-radius: 50%
}

.fot-phone-no .storename .phone span:before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    line-height: 1;
    margin-right: 8px;
}

.slick-next.slick-arrow {
    right: 23px!important;
}

.slick-prev.slick-arrow {
    left: 23px!important;
}

.slick-track .uabb-gallery-img {
    max-height: 700px;
}

.fot-phone-no .storename {
    margin-bottom: 0;
}

.image img {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.image img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.uabb-menu-toggle {
    display: block!important;
}

.uabb-menu-toggle:before {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    z-index: 1;
    font-size: inherit;
    line-height: 0;
    font-weight: 900;
}

.copyright-sec .fl-rich-text * {
    display: inline-block;
}

.copyright-sec .fl-rich-text {
    text-align: center;
}

ul.social-icons li a:hover i {
    color: #767676;
}

.fot-social-icons .social-icons li {
    margin-bottom: 0;
}

.fot-social-icons .fl-rich-text p {
    display: none;
}

.fot-social-icons .fl-module-content {
    margin-bottom: 0;
    margin-top: 15px;
}

li#field_23_2,
li#field_23_7 {
    padding-right: 0!important;
}

li#field_23_7 .ginput_container_date input {
    width: 100%!important;
}

.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gfield .ginput_container_time input,
.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gfield .ginput_container_time select {
    padding: 15px 3px!important;
    text-align: center;
}

.fl-builder-content .foot-cont-btn-and-location-sec .fl-module-button a.fl-button,
.fl-builder-content .foot-cont-btn-and-location-sec .fl-module-button a.fl-button *,
.fl-builder-content .foot-cont-btn-and-location-sec .fl-module-button a.fl-button:hover,
.fl-builder-content .foot-cont-btn-and-location-sec .fl-module-button a.fl-button:visited,
.fl-builder-content .foot-cont-btn-and-location-sec .fl-module-button a.fl-button:visited * {
    color: #fff!important;
}

.fl-builder-content .foot-cont-btn-and-location-sec .fl-module-button a.fl-button:hover {
    background: #767676;
}

.get-ditections-btn .direction a {
    letter-spacing: .7px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #1c2c84;
    border-style: none;
    border-width: 0;
    background-clip: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #252062!important;
}

div.fl-builder-content .fl-module-button a.fl-button,
div.fl-builder-content .fl-module-button a.fl-button:visited {
    background: #252062;
}

div.fl-builder-content .fl-module-button .fl-button-has-icon a.fl-button,
div.fl-builder-content .fl-module-button .fl-button-has-icon a.fl-button:visited {
    background: 0 0;
}

.fl-builder-content a.fl-button:hover,
a.fl-button:hover,
div.fl-builder-content .fl-module-button a.fl-button:hover {
    background: #767676;
}

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:hover,
.fl-builder-content a.fl-button:visited,
a.fl-button,
a.fl-button:hover,
a.fl-button:visited {
    border: 0!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: 0!important;
}

.get-ditections-btn .direction a:hover {
    border: 0 solid #262626;
    background: #323232!important;
}

.archive-sec .widgettitle,
.cata-sec .widgettitle,
.post-sec .widgettitle {
    font-size: 18px;
    font-weight: 700;
}

@media(min-width:1024px) {
    .sticky-header.sticky-header-active {
        height: auto;
        overflow: visible;
        width: 100%
    }
    .sticky-header .fl-row-content-wrap .fl-col-group {
        display: flex;
        align-items: center;
    }
    .sticky-header .fl-row-content-wrap {
        background-color: #fff;
        padding: 0 20px!important;
    }
}

@media(max-width:768px) {
    .ua-icon-icon-111-search2,
    .ua-icon-icon-111-search2:before {
        color: #fff !important;
    }
	
	li.gfmc-row-1-column,
	li.gfmc-row-2-column{
		width: 100% !important;
	}
    .res-header-top-bar>.fl-node-content,
    .comm-top-bar-nav>.fl-node-content {
        display: flex !important;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
    }
	#input_35_30_6_container {
		padding-right: 19px !important;
	}
	#input_35_30_3_container {
		margin-left: -4px !important;
	}
	#input_35_30_3_container label,
	#input_35_30_6_container label{
		text-align: left !important;
			 
	}
    .res-header-top-bar>.fl-node-content>div,
    .comm-top-bar-nav>.fl-node-content>div {
        flex: 0 0 50%;
        width: 50% !important;
        max-width: 50%;
    }
    .commercial-header .comm-main-menu .uabb-creative-menu-mobile-toggle.hamburger,
    .main-res-head .hamburger {
        color: #fff!important;
    }
    .uabb-module-content.uabb-photo.uabb-photo-align-left.uabb-photo-mob-align-left {
        text-align: center!important;
    }
    .commercial-header .fl-col-has-cols .fl-col-group-nested,
    .residential-header .fl-col-has-cols .fl-col-group-nested {
        display: flex;
        position: relative;
    }
    .commercial-header .comm-home-menu,
    .commercial-header .comm-top-bar-nav,
    .residential-header .res-header-logo,
    .residential-header .res-header-top-bar {
        flex: 0 0 100%
    }
    .commercial-header .comm-cont-btn,
    .residential-header .res-header-contant-btn {
        flex: 0 0 70%
    }
    .commercial-header .comm-cont-btn~div,
    .residential-header .res-header-contant-btn~div {
        flex: 0 0 30%;
        position: absolute;
        right: 0;
        bottom: -70px;
    }
    #menu-home-top-bar-nav {
        text-align: center;
    }
    .comm-btn-header>.fl-col-content,
    .residential-header .res-btn-header>.fl-col-content {
        border-right: 0;
    }
    .copy-right-bar .fl-col-group .fl-rich-text p {
        margin: 0 0 20px;
        text-align: center;
    }
    .w-100 {
        max-width: 100%!important;
    }
    article .fl-row-bg-photo>.fl-row-content-wrap {
        min-height: 500px;
    }
    ul#menu-cta-menu>li {
        margin-bottom: 5px;
    }
    div .uabb-creative-menu #menu-flooring-menu-1 .sub-menu>li>a,
    div .uabb-creative-menu #menu-flooring-menu-1.menu>li>.uabb-has-submenu-container>a,
    div .uabb-creative-menu.off-canvas #menu-flooring-menu-1.menu li a span.menu-item-text,
    ul#menu-flooring-menu-1>li>a>span {
        color: #fff!important;
    }
    .copy-right-bar .fl-col-group {
        flex-direction: column;
    }
    .fl-builder-content div.max-width-issue {
        max-width: 400px!important;
        margin: 0 auto!important;
    }
	.gchoice_35_7_0{
		text-align: center !important;
	}
}
@media(max-width:767px){
	#input_35_30_6_container {
    padding-right: 0px !important;
}
	#input_35_30_3_container {
    margin-left: 0px !important;
}
	#gform_35 .gform_body {
    padding: 20px 10px !important;
}
	.gform_wrapper form li, .gform_wrapper li{
		padding: 0px !important;
	}
	.gform_wrapper #gform_35 .gfield_radio li label{
		margin: 0px !important;
	}
	.page-id-1084447  .uabb-gf-style {
    padding: 20px 0px !important;
}
}

@media (max-width:500px) {
    .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%!important;
    }
    .p-hor-20 {
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
	#field_35_2 ul li{
		text-align: center !important;
	}
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0!important;
}

.fl-archive .fl-archive-title {
    color: #323232!important;
}

@media(min-width:1000px) and (max-width:1024px) {
    .header-ph .storename .phone a span {
        font-size: 12px;
    }
    .header-ph .storename .phone a span:before {
        font-size: 9px;
    }
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9999;
    background: #252062;
    padding: 30px;
}

i.ua-icon-icon-111-search2 {
    cursor: pointer!important;
}

@media(max-width:650px) {
    .home-page-logo {
        order: -1;
    }
    .searchModule {
        padding: 20px !important;
    }
    .home-phone>.fl-node-content {
        margin-bottom: 0!important;
    }
    .home-phone .header-ph>.fl-node-content {
        margin-top: 0!important;
    }
    .res-header-top-bar>.fl-node-content,
    .comm-top-bar-nav>.fl-node-content {
        display: flex !important;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
    }
    .res-header-top-bar>.fl-node-content>div,
    .comm-top-bar-nav>.fl-node-content>div {
        flex: 0 0 50%;
        width: 50% !important;
        max-width: 50%;
    }
    .ua-icon-icon-111-search2,
    .ua-icon-icon-111-search2:before {
        color: #fff !important;
    }
}

.f-0 h1 span {
    font-size: 0px !important;
}

@media(min-width:769px) {
    .res-head-main-menu .uabb-creative-menu.uabb-creative-menu-accordion-collapse.off-canvas,
    .res-header-top-bar .uabb-creative-menu.uabb-creative-menu-accordion-collapse.off-canvas {
        display: none;
    }
}

@-moz-document url-prefix() {
    .gform_wrapper li.hidden_label input#choice_19_5_1 {
        margin-top: 0px !important;
    }
}